<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title><%= locals.title %></title>
  <link rel="stylesheet" href="/css/style.css">
  
  <% if(cssFile != null) { %>
    <link rel="stylesheet" href="/css/<%=locals.cssFile%>">
  <% } %>

</head>